
@import 'https://fonts.googleapis.com/css?family=Oswald';

.titulo{
    text-align: center;
}

.titulo h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.jogo{
    text-align: center;
}

.menu-jogo{
    text-align: center;
}

.menu-jogo a{
    color: #000;
}

@media (min-width: 200px) and (min-height: 400px){
    .titulo h1{ 
        padding-top: 40px;
        font-size: 40px;
    }

    .jogo{
        padding-top: 40px;
    }

    .jogo img{
        width: 180px;
    }

    .menu-jogo a{
        font-size: 40px;
    }

    div{
        line-height: 60px;
    }
}

@media (min-width: 300px) and (min-height: 550px){
    .titulo h1{ 
        padding-top: 90px;
        font-size: 40px;
    }

    .jogo{
        padding-top: 40px;
    }

    .jogo img{
        width: 180px;
    }

    .menu-jogo a{
        font-size: 40px;
    }

    div{
        line-height: 60px;
    }
}

@media (min-width: 370px) and (min-height: 660px){
    .titulo h1{ 
        padding-top: 90px;
        font-size: 50px;
    }

    .jogo{
        padding-top: 70px;
    }

    .jogo img{
        width: 220px;
    }

    .menu-jogo a{
        font-size: 50px;
    }

    div{
        line-height: 80px;
    }
}

@media (min-width: 400px) and (min-height: 730px){
    .titulo h1{ 
        padding-top: 100px;
        font-size: 60px;
    }

    .jogo{
        padding-top: 80px;
    }

    .jogo img{
        width: 200px;
    }

    .menu-jogo a{
        font-size: 60px;
    }

    div{
        line-height: 100px;
    }
}

@media (min-width: 600px) and (min-height: 960px){
    .titulo h1{ 
        padding-top: 120px;
        font-size: 100px;
    }

    .jogo{
        padding-top: 100px;
    }

    .jogo img{
        width: 230px;
    }

    .menu-jogo a{
        font-size: 90px;
    }

    div{
        line-height: 150px;
    }
}

@media (min-width: 768px) and (min-height: 1024px){
    .titulo h1{ 
        padding-top: 150px;
        font-size: 120px;
    }

    .jogo{
        padding-top: 100px;
    }

    .jogo img{
        width: 270px;
    }

    .menu-jogo a{
        font-size: 100px;
    }

    div{
        line-height: 200px;
    }
}