
@import 'https://fonts.googleapis.com/css?family=Oswald';

.titulo{
    text-align: center;
}

.titulo h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.jogo{
    text-align: center;
}

.menu-jogo{
    text-align: center;
}

.menu-jogo a{
    color: #000;
}

@media (min-width: 1024px) {    
    .titulo h1{ 
        font-size: 90px;
    }

    .jogo img{
        width: 350px;
    }

    .menu-jogo a{
        font-size: 45px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){    
    .titulo h1{ 
        font-size: 70px;
    }

    .jogo img{
        width: 300px;
    }

    .menu-jogo a{
        font-size: 40px;
    }
}

@media (min-width: 320px) and (max-width: 767px){    
    .titulo h1{ 
        font-size: 40px;
    }

    .jogo img{
        width: 250px;
    }

    .menu-jogo a{
        font-size: 25px;
    }
}

@media (min-height: 717px){
    .titulo h1{
        margin-top: 120px;
    }
}

@media (min-height: 698px) and (max-height: 716px){
    .titulo h1{
        margin-top: 90px;
    }
}

@media (min-height: 481px) and (max-height: 697px){
    .titulo h1{
        margin-top: 60px;
    }
}

@media (max-height: 480px){
    .titulo h1{
        margin-top: 30px;
    }

    .jogo img{
        width: 150px;
    }
}