i, a{
    padding: 0;
}

.trofeu{
    padding: 0!important;
}

.header{
    position: static;
}

.loading{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    text-align: center;
    padding: 0;
}

.final{
    height: 100%;
    position: absolute;
    display: none;
    background-color: black;
    text-align: center;
}

.final h1, .final h2, .menu-final i{
    color: white;
    text-transform: uppercase;
}

.trofeu{
    display: none;
    color: gold;
}

.area-jogo{
    background-image: url('../img/background.gif');
    height: 90%;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.pontuacao{       
    padding-top: 2%!important;
    height: 10%;
}


@media (min-width: 200px) and (min-height: 400px){ 
    i, p, a, span, h1{
        font-size: 25px;
    }  

    .texto-esquerda{
        padding-left: 20px;
    }

    .texto-direita{
        padding-right: 20px;
    }

    .pontuacao{
        margin-bottom: 10px;      
    }

    .final h1{
        font-size: 30px;
    }

    .final h2{
        font-size: 20px;
        padding-top: 10px;
    }

    .final i{
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .final{        
        line-height: 130px;
        padding-top: 100px;
    }

    .loading img{
        margin-top: 90px;
        width: 200px;
    }
}

@media (min-width: 300px) and (min-height: 500px){ 
    i, p, a, span, h1{
        font-size: 35px;
    }  

    .texto-esquerda{
        padding-left: 20px;
    }

    .texto-direita{
        padding-right: 20px;
    }

    .pontuacao{
        margin-bottom: 10px;  
    }

    .final h1{
        font-size: 50px;
    }

    .final h2{
        font-size: 40px;
        padding-top: 20px;
    }

    .final i{
        font-size: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .final{        
        line-height: 180px;
        padding-top: 150px;
    }

    .loading img{
        margin-top: 130px;
        width: 300px;
    }
}

@media (min-width: 600px) and (min-height: 900px){ 
    i, p, a, span, h1{
        font-size: 50px;
    }  

    .texto-esquerda{
        padding-left: 20px;
    }

    .texto-direita{
        padding-right: 20px;
    }

    .pontuacao{
        margin-bottom: 10px;  
    }

    .final h1{
        font-size: 80px;
    }

    .final h2{
        font-size: 70px;
        padding-top: 35px;
    }

    .final i{
        font-size: 60px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .final{        
        line-height: 250px;
        padding-top: 200px;
    }

    .loading img{
        margin-top: 200px;
        width: 500px;
    }
}