i, a{
    padding: 0;
}

.header{
    position: static;
}

.final{
    height: 100%;
    position: absolute;
    display: none;
    background-color: black;
    text-align: center;
}

.final h1, .final h2, .menu-final i{
    color: white;
    text-transform: uppercase;
}

.trofeu{
    display: none;
    color: gold;
}

.area-jogo{
    background-image: url('../img/background.gif');
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (min-height: 600px){   
    .pontuacao{
        height: 10%;
        padding-top: 1%!important;
    }

    .area-jogo{
        height: 90%;
    }

    .final{
        padding-top: 200px;
    }
}

@media (max-height: 599px){   
    .pontuacao{
        padding-top: 2%!important;
        height: 15%;
    }

    .area-jogo{
        height: 85%;
    }
    
    .final{
        padding-top: 150px;
    }
}

@media (min-width: 425px){
    i, p, a, span, h1{
        font-size: 35px;
    }

    .texto-esquerda{
        padding-left: 30px;
    }

    .texto-direita{
        padding-right: 30px;
    }
    
    .pontuacao{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .final h1{
        font-size: 50px;
    }

    .final h2{
        font-size: 40px;
    }

    .final i{
        font-size: 35px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .final{        
        line-height: 50px;
    }
}

@media (min-width: 320px) and (max-width: 424px){ 
    i, p, a, span, h1{
        font-size: 25px;
    }  

    .texto-esquerda{
        padding-left: 20px;
    }

    .texto-direita{
        padding-right: 20px;
    }

    .pontuacao{
        margin-bottom: 10px;
    }

    .final h1{
        font-size: 40px;
    }

    .final h2{
        font-size: 30px;
    }

    .final i{
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .final{        
        line-height: 40px;
    }

    .trofeu{
        padding: 0!important;
    }
}