@import 'https://fonts.googleapis.com/css?family=Oswald';

p, h1, h2, h3, h4, a, ul, li, div, body, tr, span, label{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

a{
    color: black;
}

p{
    text-align: justify;
}

.titulo{
    border: none;
    text-transform: uppercase;
}

.titulo h1{
    text-align: left;
}

.rodape{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.botao-rodape i, .botao-rodape a, .botao-rodape button, .botao-rodape input{
    color:white;
}

.texto-esquerda{
    text-align: left;
}

.texto-direita{
    text-align: right;
}

.texto-centro{
    text-align: center;
}

.radio{
    border: none;
    width: 100%;
    padding: 10px!important;
}

@media (min-width: 200px) and (min-height: 400px){
    .titulo h1{ 
        font-size: 30px;
        padding: 15px;
    }

    .item{
        font-size: 20px;
        padding: 15px;
    }

    .item span{
        padding-top: 30px;
    }

    .botao-rodape i{
        font-size: 30px;
    }

    .botao-esquerdo{
        padding-left: 10px;
    }

    .botao-direito{
        padding-right: 10px;
    }

    .rodape{
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    p, a{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }

    i{
        padding-left: 15px;
        font-size: 17px;
    }
}

@media (min-width: 400px) and (min-height: 700px){
    .titulo h1{ 
        font-size: 30px;
        padding: 15px;
    }

    .item{
        font-size: 20px;
        padding: 15px;
    }

    .item span{
        padding-top: 30px;
    }

    .botao-rodape i{
        font-size: 40px;
    }

    .botao-esquerdo{
        padding-left: 15px;
    }

    .botao-direito{
        padding-right: 15px;
    }

    .rodape{
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    p, a{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }

    i{
        padding-left: 15px;
        font-size: 17px;
    }
}

@media (min-width: 600px) and (min-height: 900px){
    .titulo h1{ 
        font-size: 60px;
        padding: 30px;
    }

    .item{
        font-size: 40px;
        padding: 30px;
    }

    .item span{
        padding-top: 60px;
    }

    .botao-rodape i{
        font-size: 80px;
    }

    .botao-esquerdo{
        padding-left: 30px;
    }

    .botao-direito{
        padding-right: 30px;
    }

    .rodape{
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }

    p, a{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 30px;
        line-height: 40px;
    }

    i{
        padding-left: 30px;
        font-size: 35px;
    }
}