@import 'https://fonts.googleapis.com/css?family=Oswald';

p, h1, h2, h3, h4, a, ul, li, div, body, tr, span{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

a{
    color: black;
}

p{
    text-align: justify;
}

.titulo{
    border: none;
    text-transform: uppercase;
}

.titulo h1{
    text-align: left;
}

.rodape{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.botao-rodape i, .botao-rodape a, .botao-rodape button, .botao-rodape input{
    color:white;
}

.texto-esquerda{
    text-align: left;
}

.texto-direita{
    text-align: right;
}

.radio{
    border: none;
    width: 100%;
    padding: 10px!important;
}

@media (min-width: 425px){
    .titulo h1{ 
        font-size: 40px;
        padding: 20px;
    }

    .item{
        font-size: 20px;
        padding: 20px;
    }

    .item span{
        padding-top: 10px;
    }

    .botao-rodape{
        font-size: 40px;
    }

    .botao-esquerdo{
        padding-left: 20px;
    }

    .botao-direito{
        padding-right: 20px;
    }

    .rodape{
        padding-top: 10px;
    }

    p, a{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 17px;
    }

    i{
        padding-left: 20px;
        font-size: 25px;
    }
}

@media (min-width: 320px) and (max-width: 424px){
    .titulo h1{ 
        font-size: 30px;
        padding: 15px;
    }

    .item{
        font-size: 15px;
        padding: 15px;
    }

    .item span{
        padding-top: 7px;
    }

    .botao-rodape{
        font-size: 30px;
    }

    .botao-esquerdo{
        padding-left: 15px;
    }

    .botao-direito{
        padding-right: 15px;
    }

    .rodape{
        padding-top: 7px;
    }

    p, a{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
    }

    i{
        padding-left: 15px;
        font-size: 17px;
    }
}