@import '../fonts/Oswald-Bold.ttf';
@import '../fonts/Oswald-Light.ttf';
@import '../fonts/Oswald-Regular.ttf';
@import 'https://fonts.googleapis.com/css?family=Oswald';

.centro{
    text-align: center;
}

.imagem{
    width: 50%;
}

.painel.pane {
    background-color: #000;
    position: absolute;
    height: 100%;
}

.aviso {
    position: relative;
    margin-top: 10em;
}

.aviso h2{
    text-align: center;
    color: #fff;
    padding: 0 2em;
}

canvas{
    background-image: url('../img/background.gif');
}

.button{
    font-size: 1.5em;
}

.play{
    text-align: center;
}

.play img{
    width: 25%;
}

.index-title{
    font-family: 'Oswald', sans-serif;
    font-size: 500%;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

.inicio-icons{
    text-align: center;
    font-size: 300%;
    margin-top: 5%;
}

.inicio-icons a{
    color: black;
    padding: 5%;
}