<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/padroes.css" rel="stylesheet">
    <link href="css/aviso.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/utilitarios.js"></script>
    <script src="js/app.js"></script>
    <script src="js/aviso.js"></script>
  </head>
  <body ng-app="starter" ng-controller="AvisoController">
    <div class="row titulo">
        <h1>AVISO <i class="ion-alert-circled"></i></h1>
    </div>
    <div class="row aviso">
        <p>Este aplicativo contém imagens que tem potencial para desencadear um <strong>ataque epiléptico</strong>.</p>
    </div>
    <div class="row rodape">           
        <div class="col texto-esquerda">
            <a href="#" class="botao-rodape botao-esquerdo" ng-click="sair();"><i class="ion-android-exit"></i></a>
        </div>
        <div class="col texto-direita">
            <a href="index.html" ng-click="vibracao();" class="botao-rodape botao-direito" ><i class="ion-android-done"></i></a>
        </div>        
    </div>
  </body>
</html>