<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/utilitarios.js"></script>
    <script src="js/app.js"></script>
    <script src="js/inicio.js"></script>
  </head>
  <body ng-app="starter">
      <ion-pane ng-controller="InicioController">
        <ion-header-bar class="bar bar-header bar-assertive">
          <h1 class="title">Acerte o c&#xED;rculo - Psicod&#xE9;lico</h1>
        </ion-header-bar>
        <ion-content scroll="false">
          <div>        
            <div class="item item-image">
                <img src="img/inicio.jpeg">
            </div>
            <div class="rodape">
              <button class="button button-block button-dark" ng-click="jogar();">Jogar</button>
            </div>
            <div class="rodape">
              <button class="button button-block button-dark" ng-click="pontuacaoMaxima();">Pontua&#xE7;&#xE3;o M&#xE1;xima</button>
            </div>
            <div class="rodape">
              <button class="button button-block button-dark" ng-click="dificuldade();">Dificuldade</button>
            </div>
            <div class="rodape">
              <button class="button button-block button-assertive" ng-click="aviso();">Aviso</button>
            </div>
            <div class="rodape">
              <button class="button button-block button-dark" ng-click="sobre();">Sobre</button>
            </div>
          </div>
        </ion-content>
      </ion-pane>
  </body>
</html>