<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/padroes.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/utilitarios.js"></script>
  <script src="js/app.js"></script>
  <script src="js/pontuacao.js"></script>
</head>

<body ng-app="starter" ng-controller="PontuacaoController">
  <div class="row titulo">
    <h1>Maiores Pontuações</h1>
  </div>
  <div scroll="false" class="item" ng-repeat="item in pontuacao">
    <div class="row">
      <strong>{{item.modo}}</strong>
    </div>    
    <div class="row">
      <span>{{item.pontuacao}}</span>
    </div>   
  </div>
  <div class="row rodape texto-esquerda">
    <a href ="index.html" class="botao-rodape botao-esquerdo" href="#" ng-click="vibracao();"><i class="ion-android-arrow-back"></i></a>
  </div>
</body>

</html>